.hero-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 120px;
  flex-wrap: wrap;
}